// Цвет текста
$color-gray: #777777

// Основные цвета сайта
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

// Черный и белый цвет для сайта
$color-black: #000000
$color-white: #ffffff
$color-light: #f7f7f7

// Тень для кнопок
$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3))

// Отступы
$margin-vertical-big: 8rem
$gutter-horizontal: 6rem

// Размер контентной области сайта
$grid-with: 114rem